<h2>My Heroes</h2>
<ul class="heroes">

  <!-- 1. Add a click event binding to the <li> (Replaced by Hero Detail) -->
  <!-- <li *ngFor="let hero of heroes" (click)="onSelect(hero)"> -->
  <!-- 2. Rename hero to selectedHero (Replaced by Routing) -->
  <!-- <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li> -->
  <!-- 3. Strip the <li> back to just its *ngFor, wrap the badge and name in an anchor element (<a>), and add a routerLink attribute to the anchor that is the same as in the dashboard template -->
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>

<!-- (Replaced by Hero Detail) -->
<!-- <h2>{{selectedHero.name | uppercase}} Details</h2>
<div><span>id: </span>{{selectedHero.id}}</div>
<div>
  <label>name:
    <input [(ngModel)]="selectedHero.name" placeholder="name"/>
  </label>
</div> -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>